.head-cont {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}
.pattern {
  position: absolute;
  right: 15px;
  background-image: url("../../Assets/pattern.png");
  width: 90%;
  height: 30px;
}
.bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-inline: 17px;
  width: 100%;
  padding-top: 13.5px;
  padding-bottom: 13.5px;
  border: 1px solid black;
}
.right-bottom-header,
.left-bottom-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.right-bottom-header h1 {
  font-size: 12px;
}
.nav-links {
  font-size: 10px;
  color: black;
  text-decoration: none;
  line-height: 10px;
}
@media screen and (max-width: 1148px) {
  .top-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
  }
  .pattern {
    position: static;
    right: 0;
    justify-self: flex-end;
    width: 90%;
  }
  .menu,
  .window {
    max-width: 100%;
    width: 100%;
    object-fit: contain;
  }
}
@media screen and (max-width: 900px) {
  .right-bottom-header {
    display: none;
  }
}
